/* styles.css */
.tab-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  
  .tabs {
    display: flex;
    border-bottom: 0.5px solid #ddd;
    margin-bottom: 20px;
  }
  
  .tab-btn {
    background: none;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px 4px 0 0;
  }
  
  .tab-btn.active {
    border-bottom: 3px solid #4B40EE;
    font-weight: bold;
    padding: 20px;
  }
  
  .tab-content {
    padding: 20px;
    border: 0.5px solid #ddd;
    border-radius: 0 0 4px 4px;
  }
  

  .links{
    display: flex;
   position: absolute;
   top: 235px;
   z-index: 10;
    gap: 20px;
    padding-left: 20px;
  }

  .full-screen{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .compare{
    display: flex;
    align-items: center;
    gap: 5px;
  }
